.inicio {
    background-color: rgb(202, 207, 212);
}

.ini2 {
    margin-top: 10%;
    margin-left: 10%;
}

.card1 {
    margin-left: 10%;
    margin-top: 3%;
}

.card2 {
    background-color: rgb(202, 207, 212);
    border-radius: 20px;
}

.card3 {
    background-color: rgb(202, 207, 212);
    border-radius: 20px;
}