.inicio {
    background-color: rgb(202, 207, 212);
}

.ini2 {
    margin-top: 10%;
    margin-left: 10%;
}

.card1 {
    margin-left: 10%;
    margin-top: 3%;
}

.card2 {
    background-color: rgb(202, 207, 212);
    border-radius: 20px;
}

.card3 {
    background-color: rgb(202, 207, 212);
    border-radius: 20px;
}

.imgpro {
    margin: 0px auto;
}

.ofertasespeciales {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.contenedor {
    position: relative;
    text-align: center;
}

.imagen {
    width: 100%;
}

.piedepagina {
    color: white;
    background-color: black;
    margin-top: 100px;
    height: 40%;
}

.producto {
    width: 100%;
}